//
// Variables
//

@font-face {
  font-family: "Calibre";
  src: url("../../Fonts/CalibreRegular.otf");
  font-weight: 300;
}

//main color variables palette
$primus-primary: #141E27;
$primus-secondary: #203239;
$primus-yellow: #E0DDAA;
$primus-light: #EEEDDE;

//text sizes
$primus-body-text: normal normal normal 16px/18px Calibre;
$primus-headline-h3: normal normal bold 35px/47px Calibre;

